.container {
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h3 {
  font-size: 17px;
  margin: 5px 0 0 1px;
}

.iconWrapper {
  position: relative;
}

.totalNum {
  background-color: #ffd67f;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
}

.pumpAnimate {
  animation: pumping 300ms ease-out;
}

@keyframes pumping {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
